body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: darkviolet;
}

.button-primary {

    border-radius: 5px;
    background: fixed;
    background-color: rgb(179, 179, 230);
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15 35;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: rgb(18, 18, 17);
    font-size: medium;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(101, 49, 17);
}

.header {
    background-color: rgb(194, 245, 245);
    background-image: url(../Images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 85px;
}

.banner-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
}
.banner-content{
    max-width: 500px;
}